<form [formGroup]="myForm" (ngSubmit)="onSubmit(myForm)" class="sdds-row">
  <div class="no-padding sdds-col-xlg-16 sdds-col-md-8 sdds-col-sm-4">
    <h6>Reactive form</h6>
    <p>In this example, form is valid if :</p>
    <ul>
      <li>Username is not empty</li>
      <li>Dropdown is not set to none</li>
    </ul>
  </div>
  <div
    class="no-padding sdds-col-xlg-8 sdds-col-lg-8 sdds-col-md-4 sdds-col-sm-4 sdds-demo-form-field"
  >
    <sdds-textfield
      ngDefaultControl
      formControlName="username"
      placeholder="Username"
    >
      <span slot="sdds-label">Username (SDDS textfield)</span>
    </sdds-textfield>
  </div>

  <div
    class="no-padding sdds-col-xlg-16 sdds-col-lg-16 sdds-col-md-8 sdds-col-sm-4 sdds-demo-form-field"
  >
    <div class="sdds-checkbox-item">
      <input
        id="cb-option-1"
        class="sdds-form-input"
        type="checkbox"
        checked="checked"
        name="cb-example"
        formControlName="CustomCheck"
      />
      <label class="sdds-form-label" for="cb-option-1">
        Custom checkbox
      </label>
    </div>
  </div>

  <div
    class="no-padding sdds-col-xlg-16 sdds-col-lg-16 sdds-col-md-8 sdds-col-sm-4 sdds-demo-form-field"
  >
    <custom-dropdown
      [list]="list"
      [initialValue]="initialValue.value"
      [myValue]="myForm.value.CustomDropdown"
      ngDefaultControl
      formControlName="CustomDropdown"
    ></custom-dropdown>
  </div>

  <div
    class="no-padding sdds-col-xlg-16 sdds-col-lg-16 sdds-col-md-8 sdds-col-sm-4 sdds-demo-form-field"
  >
    <div class="sdds-dropdown">
      <span class="sdds-dropdown-label-outside">Native select</span>
      <select
        name="nativeDropdown"
        id="mySelect"
        formControlName="nativeDropdown"
      >
        <option value="">None</option>
        <option value="truck">Truck</option>
        <option value="bus">Bus</option>
        <option value="car">Car</option>
      </select>
      <span class="sdds-dropdown-helper">Select transportation</span>
    </div>
  </div>

  <div
    class="no-padding sdds-col-sm-4 sdds-col-md-8 sdds-col-lg-8 sdds-col-xlg-16"
  >
    <h6>Debug</h6>
    <div>Values: {{myForm.value | json}}</div>
    <div>Touched: {{myForm.touched}}</div>
    <div>pristine: {{myForm.pristine | json}}</div>
    <div>Form status: {{myForm.status | json}}</div>
  </div>
</form>
